server:
  port: 8088

logging:
  level:
    org.springframework: DEBUG

spring:
  messages:
    basename: messages
  datasource:
    hikari:
      driver-class-name: org.h2.Driver
      jdbc-url: jdbc:h2:tcp://localhost/~/test
      username: sa
      password:
  jpa:
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

h2:
  console:
    enabled: true
