server:
  port: 8088

logging:
  level:
    org.springframework: DEBUG

spring:
  messages:
    basename: messages

management:
  endpoints:
    web:
      exposure:
        include: "*"

jpa:
  show-sql: true

h2:
  console:
    enabled: true